.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #303f9f;
}

.login_form_container{
    width: 30%;
    height: 70%;
    background-color:rgba(251, 252, 252, 0.811);
    border : 5px solid black;
    border-radius: 10px;
    padding: 0.5rem;
}

.avatar_container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

.login_avatar{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_msg_container{
    width: 100%;
    height: 10%;
}

.error_msg{
    color : red;
    font-family: 'consolas';
    font-weight: bold;
}

.login_form{
    width: 100%;
    height: 100%;
}

.form_style{
    width: 100%;
    height: 50%;
}

.login_text{
    font-family: 'consolas';
    font-weight: bold;
}

.email_input_container{
    width: 100%;
    height: 25%;
    padding: 0.15rem;
}
.email_input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.75rem;
    font-family: 'consolas';
}

.password_input_container{
    width: 100%;
    height: 25%;
    padding: 0.15rem;
}

.password_input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.75rem;
    font-family: 'consolas';
}

.btn_container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.footer_text{
    font-family: 'consolas';
}
